<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to Diabetes Prediction</title>
    <link rel="stylesheet" href="static\styles\indexstyle.css">
</head>
<body style="background-image: url(images/pexels-n-voitkevich-6941881.jpg); background-size: cover ;">
    <div class="welcome-container">
        <div class="welcome-content">
            <h1>Welcome to Diabetes Prediction</h1>
            <p>Your health is our priority. This tool will help predict the likelihood of diabetes using key health indicators.</p>
            <a href="http://127.0.0.1:8000/home" class="start-button">Start Prediction</a>
        </div>
    </div>
</body>
</html>
